.video {
  width: 1200px;
  margin: 0 auto 80px;
}

iframe {
  margin: auto;
}

/* 메인배너 */

.main_banner {
  width: 1200px;
  margin: 0 auto 90px;
  position: relative;
}

/* .main__banner-box {
  margin: 0 auto;
  width: 1200px;
} */

.main_banner .main_img1 {
  background: url(../imgs/main_banner_10.jpg) no-repeat;
  height: 675px;
}

.main_banner .main_img2 {
  background: url(../imgs/main_banner_IU.png) no-repeat;
  height: 675px;
}

.banner_txt {
  display: block;
  background: url(../imgs/bac_main_title_07.png) no-repeat;
  width: 240px;
  height: 183px;
  text-indent: -9999px;
  position: absolute;
  top: 260px;
  right: 450px;
}

.slick-prev {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../imgs/prev_icon_03.png);
  text-indent: -9999px;
  position: absolute;
  left: 10px;
  top: 310px;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.slick-next {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../imgs/next_icon_03.png);
  text-indent: -9999px;
  position: absolute;
  right: 10px;
  top: 310px;
  border: none;
  cursor: pointer;
}

/* .main_banner > .banner__btn > .prev_btn {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../imgs/prev_icon_03.png);
  text-indent: -9999px;
  position: absolute;
  left: 0;
  top: 310px;
  border: none;
  cursor: pointer;
} */

/* .main_banner .next_btn {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../imgs/next_icon_03.png);
  text-indent: -9999px;
  position: absolute;
  right: 0;
  top: 310px;
  border: none;
  cursor: pointer;
} */

/* inner1 */

.inner_1 {
  width: 1200px;
  margin: 0 auto 80px;
}

.inner_1 h2 {
  background: url(../imgs/challegne_text_11.jpg) no-repeat;
  width: 428px;
  height: 38px;
  text-indent: -9999px;
  margin: 0 auto 50px;
}

.inner_1 > p {
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 50px;
}

.challenge_list {
  width: 1200px;
  height: 710px;
  margin: 0 auto 20px;
}

.challenge_img1 {
  background: url(../imgs/challenge_img-1_14.jpg) no-repeat;
  width: 590px;
  height: 343px;
  text-indent: -9999px;
  float: left;
  margin: 0 10px 10px 0;
}

.challenge_img2 {
  background: url(../imgs/challenge_img_2_15.jpg) no-repeat;
  width: 590px;
  height: 343px;
  text-indent: -9999px;
  float: left;
  margin: 0 0 10px 10px;
}

.challenge_img3 {
  background: url(../imgs/challenge_img-3_14.jpg) no-repeat;
  width: 590px;
  height: 343px;
  text-indent: -9999px;
  float: left;
  margin: 10px 10px 0 0;
}

.challenge_img4 {
  background: url(../imgs/challenge_img-4_15.jpg) no-repeat;
  width: 590px;
  height: 343px;
  text-indent: -9999px;
  float: left;
  margin: 10px 0 0 10px;
}

.inner_1 a {
  display: block;
  border: 1px solid var(--pink);
  width: 135px;
  margin: auto;
  text-align: center;
  padding: 10px 0;
  color: var(--pink);
}

.inner_1 a:hover {
  color: white;
  background: var(--pink);
}

/* inner_1 종료 */

/* section 2 */

.inner_2 {
  width: 1200px;
  height: 675px;
  margin: 0 auto 80px;
  background: url(../imgs/bac_club_iu.jpg);
  position: relative;
}

.inner_2 h2 {
  background: url(../imgs/club_title_03.png);
  width: 276px;
  height: 44px;
  text-indent: -9999px;
  margin-bottom: 30px;
}

.inner_2-txt {
  width: 375px;
  color: white;
  line-height: 30px;
  position: absolute;
  left: 185px;
  top: 115px;
}

.club_txt1 {
  font-size: 20px;
  margin-bottom: 25px;
}

.club_txt2 {
  margin-bottom: 25px;
}

.club_txt3 {
  margin-bottom: 30px;
}

.btn_club {
  color: white;
  border: 1px solid white;
  width: 135px;
  text-align: center;
  padding: 10px 0;
}

.btn_club:hover {
  background: white;
  color: black;
}

/* section 2 종료 */

/* section 3 영역 */
.inner_3 {
  width: 1200px;
  margin: 0 auto 80px;
}

.inner_3 h2 {
  background: url(../imgs/suits_title_11.jpg) no-repeat;
  width: 231px;
  height: 38px;
  text-indent: -9999px;
  margin: 0 auto 30px;
}

.inner_3 p {
  text-align: center;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 40px;
}

.inner_3 ul {
  overflow: hidden;
  margin-bottom: 20px;
}

.inner_3 .suits_img1 {
  background: url(../imgs/suits_img1_07.jpg);
  width: 385px;
  height: 480px;
  text-indent: -9999px;
  float: left;
  margin-right: 20px;
}

.inner_3 .suits_img2 {
  background: url(../imgs/suits_img2_07.jpg);
  width: 385px;
  height: 480px;
  text-indent: -9999px;
  float: left;
  margin-right: 20px;
}

.inner_3 .suits_img3 {
  background: url(../imgs/suits_img3_07.jpg);
  width: 385px;
  height: 480px;
  text-indent: -9999px;
  float: left;
}

.inner_3 .btn_buy {
  border: 1px solid var(--pink);
  width: 135px;
  text-align: center;
  padding: 10px 0;
  display: block;
  margin: 0 auto;
  color: var(--pink);
}

.inner_3 .btn_buy:hover {
  background: var(--pink);
  color: white;
}
/* section 3 영역 끝 */

/* section 4 영역 */

.inner_4-img {
  margin-bottom: 80px;
}

.inner_4 {
  width: 1200px;
  height: 675px;
  background: url(../imgs/center_img_03.jpg) no-repeat;
  margin: auto;
  position: relative;
}

.center_txt {
  width: 1200px;
  margin: 0 auto 100px;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 30px;
}

.inner_4 h2 {
  background: url(../imgs/bacmain2020_0014.png) no-repeat;
  width: 357px;
  height: 43px;
  text-indent: -9999px;
  margin: 70px auto;
}

.center_txt p {
  margin-bottom: 30px;
  line-height: 30px;
}

.inner_4 a {
  border: 1px solid white;
  color: white;
  width: 135px;
  text-align: center;
  padding: 10px 0;
  display: block;
  margin: 50px auto;
}

.inner_4 a:hover {
  color: black;
  background: white;
}
/* section 4 끝 */

/* section 5 영역 */
.inner_5 {
  width: 1200px;
  margin: 0 auto 80px;
}

.inner_5-list {
  width: 1200px;
  height: 215px;
}

.inner_5-list h2 {
  border: 1px solid gray;
  font-size: 16px;
  padding: 10px 0;
  margin-top: -1px;
}

.inner_5-list ul li {
  border: 1px solid gray;
  padding: 10px 0;
  font-size: 14px;
  margin-top: -1px;
}

.inner_5-list a {
  display: block;
  margin-left: 15px;
}

/* section 5 끝 */

/* section 6 영역 */

.inner_6-wrap {
  height: 345px;
  background: url(../imgs/mobile_bg_07.jpg);
  margin-bottom: 30px;
}

.inner_6 {
  width: 855px;
  height: 345px;
  margin: auto;
  position: relative;
}

.inner_6-txt {
  display: inline-block;
  /* width: 470px; */
  text-align: center;
  margin-top: 80px;
}

.inner_6 h2 {
  background: url(../imgs/bacmain2020_0011.png) no-repeat;
  width: 470px;
  height: 73px;
  text-indent: -9999px;
}

.inner_6-txt p {
  font-weight: bold;
  margin-bottom: 30px;
}

.inner_6-txt ul {
  overflow: hidden;
}

.inner_6-txt ul li {
  float: left;
}

.inner_6-txt .sign_btn {
  background: url(../imgs/app_sign-in_19.jpg);
  width: 121px;
  height: 47px;
  text-indent: -9999px;
  margin: 0 20px 0 95px;
}

.inner_6-txt .guide_btn {
  background: url(../imgs/app_guide-txt_17.jpg);
  width: 121px;
  height: 47px;
  text-indent: -9999px;
}

.inner_6 a {
  display: block;
  height: 100%;
}

.inner_6 img {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* section 6 끝 */
