
/* main 영역 */

.user_info{
  width: 1200px;
  height: 112px;
  /* overflow: hidden; */
  margin: 0 auto; 
  border-bottom: 1px solid gray;
}


.user_info h2{
  font-size: 15px;
}

.user_info a{
  float: left;
  line-height: 112px;
  margin: 0 50px 0 20px;
}


.user_info .my_info:hover,
.user_info .order_list:hover{
  color: red;
}

.user_info-1{
  width: 1200px;
  margin: 20px auto 70px;
  overflow: hidden;
  padding: 20px 0 30px;
  border-bottom: 1px solid gray;
}

.user_area{
  width: 360px;
  overflow: hidden;
  position: relative;
  border-right: 1px solid gray;
  padding-left: 20px;
  float: left;
}
.user_area a{
  display: block;
  border: 1px solid gray;
  font-size: 12px;
  width: 48px;
  position: absolute;
  right: 35px;
  padding: 5px;
}

.user_name{
  float: left;
}

.user_name > .user_id{
  margin-bottom: 20px;
}

.user_name span{
  margin-right: 30px;
}

.user_icon{
  float: left;
  margin-right: 20px;
}

.user_icon p{
  background: url(../imgs/user_icon_03.png) no-repeat;
  width: 62px;
  height: 62px;
  text-indent: -9999px;
}


.user_coupon{
  width: 270px;
  text-align: center;
  float: left;
  border-right: 1px solid gray;
}

.user_coupon dt{
  margin-bottom: 20px;
  font-size: 14px;
}

.user_coupon dd{
  font-size: 18px;
  font-weight: bold;
}

.user_membership{
  width: 270px;
  text-align: center;
  float: left;
  border-right: 1px solid gray;
}

.user_membership dt{
  margin-bottom: 20px;
  font-size: 14px;
}

.user_membership dd{
  font-size: 18px;
  font-weight: bold;
}

.user_club{
  width: 270px;
  text-align: center;
  float: left;
}

.user_club dt{
  margin-bottom: 20px;
  font-size: 14px;
}

.user_club dd{
  font-size: 18px;
  font-weight: bold;
}
/* 유저 부분 끝 */

/* 상품 부분 */
.order_info{
  width: 1200px;
  margin: 0 auto;
}

.order_area{
  position: relative;
  margin-bottom: 70px;
}

.order_area h3{
  border-bottom: 1px solid gray;
  font-weight: normal;
  padding: 0 0 10px 10px;
  font-size: 15px;
}

.order_area h3::before{
  content: "•";
  padding: 0 5px;
}

.order_area ul{
  width: 100%;
  /* overflow: hidden; */
  border-bottom: 1px solid gray;
  padding: 20px 0;
  display: table;
  table-layout: fixed;
}

.order_area ul li {
  /* float:  left; */
  /* margin: 0 auto; */
  font-size: 14px;
  text-align: center;
  display: table-cell;
}

.order_area ul a{
  border: 1px solid gray;
  padding: 3px 12px;
}

.order_info .view{
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 12px;
}


.add_product{
  position: relative;
  border-bottom: 1px solid gray;
  margin-bottom: 70px;
}

.add_product h3{
  border-bottom: 1px solid gray;
  font-weight: normal;
  padding: 0 0 10px 10px;
  font-size: 15px;
}

.add_product h3::before{
  content: "•";
  padding: 0 5px;
}

.add_product p{
  text-align: center;
  font-size: 14px;
  padding: 20px 0;
}


