.bac_shop{
  width: 1200px;
  margin: auto;
}

.shop_banner {
  background: url(../imgs/shop_banner_03.jpg) no-repeat;
  width: 1200px;
  height: 675px;
  text-indent: -9999px;
  margin: 0 auto 80px;
}


.bac_items{
  /* width: 1200px; */
  margin: auto;
  text-align: center;
}

.bac_items > h2 {
  /* display: inline-block; */
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}

.bac_items > section {
  overflow: hidden;
  position: relative;
  margin-bottom: 100px;
}

.bac_items > section > ul > li:hover{
  background-color: rgb(229, 245, 251);
}

.bac_items > section > ul > li {
  display: inline-block;
  border: 1px solid gray;
  width: 285px;
  height: 460px;
  transition: background-color  0.5s;
}

.bac_items > section > ul > li > .product__top{
  background-color: gray;
  font-size: 16px;
  font-weight: bold;
  
}

.bac_items > section > ul > li > .product__bottom  img{
  padding-top: 20px;
}

.bac_items > section > ul > li > .product__bottom  span{
  display: block;
  padding-top: 20px;
}

.bac_items > section > ul > li  a {
  display: block;
  padding: 15px 0;
}


.bac_items > section > .more_view{
  display: block;
  /* position: absolute;
  bottom: 60px;
  right: 35px; */
  text-align: end;
  margin: 10px 20px 0;
}



.bac_items > .outer > .outer_2 > dt{
  background: #f7f7f7;
  color: black
}


